<nav class="bg-[#212731] shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex  h-16">
            <div class="flex items-center">
                <img src="assets/images/KEVIN.png" alt="MySite Logo" class="h-8 w-8 mr-2">
            </div>
            <div class="hidden md:flex space-x-4 items-center ">
                <a href="#" class="text-white hover:text-gray-900">Home</a>
                <a href="#" class="text-white hover:text-gray-900">About</a>
                <a href="#" class="text-white hover:text-gray-900">Services</a>
                <a href="#" class="text-white hover:text-gray-900">Contact</a>
            </div>
            <div class="md:hidden flex items-center">
                <button id="menu-toggle" class="text-white hover:text-gray-900 focus:outline-none">
                    ☰
                </button>
            </div>
        </div>
    </div>
</nav>